---
import Layout from '../layouts/Layout.astro';
import Details from '../components/Details.astro';


const title = "Home"
// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout {title}>


	<Details summary="Astro Component" class="some-class" aria-label="component example">
      <p>Child content</p>
</Details>


</Layout>
